body {
    background: lightgray;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 4fr;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 0px 10px 0px rgb(147, 147, 147);
    z-index: 1;
    background: white;
}

.searchBarRow {
    padding: 25px 15px 15px 15px;
    gap: 15px;
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
}

.search {
    display: grid;
    grid-template-columns: 50px 4fr;
    align-items: center;
}

.search button {
    margin-right: auto;
    background: none;
    border: none;
}

#searchInput {
    width: 100%;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
}

.alertBtn {
    display: grid;
    align-items: center;
    justify-content: end;
}

.alertBtn button {
    border: none;
    background: none;
}

.userID {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.userImgSmall {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 189);
    border: 2px solid #5d5d5d;
    border-radius: 45px;
    height: 35px;
    width: 35px;
}

.userSmall p {
    margin: 0;
}

.welcomeMsgRow {
    padding: 15px;
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 4fr;
}

.userImgLarge {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 189);
    border: 2px solid #5d5d5d;
    border-radius: 45px;
    height: 65px;
    width: 65px;
}

.userWelcome {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.userWelcome > * {
    margin: 0;
}

.userActionBtns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.userActionBtns button {
    background: dodgerblue;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

nav {
    height: 100%;
    padding: 30px;
    background-color: dodgerblue;
    grid-area: 1/1/3/2;
    grid-template-rows: 1fr 5fr 3fr 2fr;
    display: grid;
    color: white;
}

nav > * {
    position: fixed;
}

nav ul {
    padding-left: 0;
}

nav a {
    font-weight: 600;
    line-height: 2.5em;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    padding: 15px;
    background-color:lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.projectList h4,
.announcementList h4,
.trendingList h4 {
    margin-bottom: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 15px;
}

.project {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 10px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px rgb(147, 147, 147);
}

.projectContent {
    display: grid;
    margin: 5px;
}

.projectContent h5 {
    margin: 15px 15px 5px 0;
}

.projectContent p {
    margin: 0 15px 0 0;
}

.projectBtns {
    margin: 15px 15px 15px auto;
}

.projectBtns button {
    border: none;
    background: none;
}

.stripe {
    background: gold;
}

.secondaryMain {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.announcements {
    background: white;
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 15px;
    border-radius: 20px;
    padding: 15px 10px 10px 10px;
    box-shadow: 0px 4px 10px 0px rgb(147, 147, 147);
}

.announcements h6 {
    margin: 0 0 5px 0;
}

.announcements p {
    font-size: 11px;
    margin: 0;
    padding-bottom: 10px;
}

.trending {
    background: white;
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 25px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px 0px rgb(147, 147, 147);
}

.trending a {
    color: black;
}

.trendingItem {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.trendingItem p {
    font-size: 12px;
    margin: 0;
}

.trendingUserName {
    font-weight: 700;
}