body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.searchBarRow {
    padding: 15px;
    gap: 15px;
    background: red;
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
}

.search {
    display: grid;
    align-items: center;
    background: purple;
}

.alertBtn {
    display: grid;
    align-items: center;
    justify-content: end;
    background: orange;
}

.alertBtn button {
    height: 100%;
    border-radius: 40px;
}

.userID {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.userImgSmall {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 189);
    border: 2px solid #5d5d5d;
    border-radius: 45px;
    height: 35px;
    width: 35px;
}

.welcomeMsgRow {
    padding: 15px;
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 4fr;
}

.userImgLarge {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 189);
    border: 2px solid #5d5d5d;
    border-radius: 45px;
    height: 65px;
    width: 65px;
}

.userWelcome {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: aqua;
}

.userWelcome > * {
    margin: 0;
}

.userActionBtns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.userActionBtns button {
    background: dodgerblue;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

nav {
    padding: 30px;
    background-color: dodgerblue;
    grid-area: 1/1/3/2;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 3fr 2fr;
    display: grid;
    color: white;
}

nav ul {
    padding-left: 0;
}

nav a {
    font-weight: 600;
    line-height: 2.5em;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    padding: 15px;
    background-color:lightgray;
}